# Sidebar CodeMirror Extension

- Never directly style the editor in /src files
- Instead, assume the end user will provide theming in ./demo to style the editor
- The exception to this rule is for structural styles (e.g. positioning)
